@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link href="~/css/bootstrap-dark.min.css" rel="stylesheet" />
    <link href="~/css/app-dark.min.css" rel="stylesheet" />
    <link href="~/css/icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    <div class="container mt-5">
        <h1>@ViewData["Title"]</h1>
        <div class="row align-items-center my-5">
            <div class="col-md-6">
                <section>
                    <div class="card">
                        <div class="card-body">
                            <form id="account" method="post">
                                <h4>Use a local account to log in.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                                <div class="form-group text-center">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Demo Users</h2>
                <hr />
                <div class="slider owl-carousel">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Admin</h2>
                            <p class="card-text">A user in the Admin role will have the ability to create and edit any and every project and ticket, as well as the ability to assign registered users to any role necessary. There are no restrictions for this user.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Project Manager</h2>
                            <p class="card-text">A user in the role of Project Manager will have the ability to create and edit any ticket found within a project that they are assigned to, as well as assign developers to tickets as they created.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Developer</h2>
                            <p class="card-text">A user in the role of Developer will have the ability to view the details of any ticket that they have been assigned to, as well as updating the status field of those tickets.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Submitter</h2>
                            <p class="card-text">A user in the role of Submitter will have the ability to create a ticket for a project that they are assigned to, with their input fields being limited.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="slider-nav">
                            <img src="~/images/Previous-PixTeller.png" class="am-prev" style="width:35px;height:35px" />
                            <img src="~/images/Next-PixTeller.png" class="am-next" style="width:35px;height:35px" />
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <hr />
                <form id="account" method="post">
                    <div class="row">
                        <div class="col text-center">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoAdminEmail" class="btn btn-primary">Demo Admin</button>
                                <button type="submit" name="demoEmail" value="DemoPMEmail" class="btn btn-primary">Demo Project Manager</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <div class="form-group">
                                <button type="submit" name="demoEmail" value="DemoDevEmail" class="btn btn-primary">Demo Developer</button>
                                <button type="submit" name="demoEmail" value="DemoSubEmail" class="btn btn-primary">Demo Submitter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js"></script>


    <script>
        $(".slider").owlCarousel({
            loop: true,
            items: 1,
            autoplay: true,
            margin: 10,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            nav: true,
            navText: [$(".am-prev"), $(".am-next")]
        });
    </script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>
